.navbar {
  position: relative;
  top: 40px;
}

/* .wrapper {
  display: flex;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  background-color: white;
  border: none;
}

header.main-header {
  grid-area: header;
  font-family: 'Fredoka One', cursive;
  display: flex;
  background-color: #d96c9f;
  margin: 0 -9999rem;
  padding: 0.25em 9999rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
} */

header.main-header .logo {
  width: 50px;
  height: 50px;
  font-size: 10px;
  border: solid 3px #1b1159;
  background-color: rgb(238, 236, 236);
  border-radius: 5px;
  padding: 5px;
  color: #7833a6;
}

/* header.main-header a {
  text-decoration: none;
  color: black;
}

header.main-header h2 {
  font-size: 18px;
  margin-left: 10px;
  color: white;
}

header.main-header .user {
  margin: 0;
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  display: flex;
  height: 25px;
}

.user button {
  padding: 0;
  width: 45px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
}

nav.navbar {
  grid-area: nav;
}

nav.navbar ul {
  padding: 10px;
  margin-right: 10px;
  position: sticky;
  top: 90px;
  background-color: #7833a6;
  border: solid 3px #1b1159;
  border-radius: 5px;
  color: #251973;
}
nav.navbar li {
  padding-bottom: 10px;
}
nav.navbar a {
  text-decoration: none;
}

main.content {
  grid-area: main;
  color: white;
  padding: 20px 10px 10px 10px;
  background-color: #251973;
}

main.content .comments {
  background-color: #f29999;
  color: white;
}

.comments .comment {
  margin: 10px;
  padding: 10px;
}

.content h3 {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header'
    'nav main main main'
    'footer footer footer footer';
}

 */
