.wrapper {
  display: flex;
  justify-content: center;
}

header.main-header {
  grid-area: header;
  background-color: aquamarine;
}

nav.navbar {
  grid-area: nav;
  background-color: rgb(126, 223, 226);
}

main.content {
  grid-area: main;
  background-color: cornsilk;
}

main.content .comments {
  background-color: darkgrey;
  color: white;
}

.comments .comment {
  background-color: darkred;
  color: white;
  margin: 10px;
  padding: 10px;
}

.content h3 {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header'
    'nav main main main'
    'footer footer footer footer';
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
